<div class="app-container">
  <h3 class="app-header">New funtionalty and apps</h3>
  <div class="body-container">
    <div class="buttons">
      <a class="dropdown-menu-btn" routerLink="dropdown-menu" routerLinkActive="active">
        DropDown Menu
      </a>

      <a class="dropdown-menu-btn" routerLink="search-bar" routerLinkActive="active">
        Search Bar
      </a>

      <a class="dropdown-menu-btn" routerLink="directives-learn" routerLinkActive="active">
        Directives Learn
      </a>

    </div>
    <div class="apps">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
